<p>


<div class="row">
  <form action="/crud/item/<%= items._id %>/edit" method="POST" enctype="multipart/form-data">
    <button type="submit" class="btn btn-primary"><h5>Update Vehicle</h5></button>
    <div class="col-md-4">
      <table>
        <tr>
          <td><strong>Make:</strong> <%= items.make %></td>
          <td><input type="text" name="make"></td>
        </tr>
        <tr>
          <td><strong>Model:</strong> <%= items.model %></td>
          <td><input type="text" name="model"></td>
        </tr>
        <tr>
          <td><strong>Year:</strong> <%= items.year %></td>
          <td><input type="text" name="year"></td>
        </tr>
        <tr>
          <td><strong>Miles:</strong> <%= items.miles %></td>
          <td><input type="text" name="miles"></td>
        </tr>
        <tr>
          <td><strong>Price:</strong> <%= items.price %></td>
          <td><input type="text" name="price"></td>
        </tr>
        <tr>
          <td></td>
          <td><img src="<%= items.picture1 %>" width="100" alt="automobile picture"/></td>
        </td>

      </table>
    </div>
    <div class="col-md-4">
      <table>
        <tr>
          <td><strong>VIN:</strong> <%= items.vin %></td>
          <td><input type="text" name="vin"></td>
        </tr>
        <tr>
          <td><strong>Stock:</strong> <%= items.stock %></td>
          <td><input type="text" name="stock"></td>
        </tr>
        <tr>
          <td><strong>Trim:</strong> <%= items.trim %></td>
          <td><input type="text" name="trim"></td>
        </tr>
        <tr>
          <td><strong>Transmissions:</strong> <%= items.transmissions %></td>
          <td><input type="text" name="transmissions"></td>
        </tr>
        <tr>
          <td><strong>Speeds:</strong> <%= items.speeds %></td>
          <td><input type="text" name="speeds"></td>
        </tr>
        <tr>
          <td><strong>Engine:</strong> <%= items.engine %></td>
          <td><input type="text" name="engine"></td>
        </tr>
        <tr>
          <td><strong>Fuel:</strong> <%= items.fuel %></td>
          <td><input type="text" name="fuel"></td>
        </tr>
        <tr>
          <td><strong>Exterior:</strong> <%= items.ext %></td>
          <td><input type="text" name="ext"></td>
        </tr>
        <tr>
          <td><strong>Interior:</strong> <%= items.int %></td>
          <td><input type="text" name="int"></td>
        </tr>
        <tr>
          <td><strong>Show:</strong> <%= items.show %></td>
          <td><input type="text" name="show"></td>
        </tr>

      </table>
    </div>
    <div class="col-md-4">
      <table>
        <tr>
          <td><strong>Description:</strong> <%= items.description %></td>
          <td><textarea name="description" rows="4" ></textarea></td>
        </tr>
        <tr>
          <td><strong>Equipment:</strong> <%= items.equipment %></td>
          <td><textarea name="equipment" rows="4" ></textarea></td>
        </tr>
        <tr>
          <td><strong>Features:</strong> <%= items.features %></td>
          <td><textarea name="features" rows="4" ></textarea></td>
        </tr>

      </table>
    </div>

  </form>
</div>
