<h2> Edit Car </h2>


<div class="row">
  <form action="/crud/item/<%= items._id %>/edit" method="POST" enctype="multipart/form-data">
    <div class="col-md-4">
      <table>
        <tr>
          <td><strong>make:</strong> <%= items.make %></td>
          <td><input type="text" name="make"></td>
        </tr>
        <tr>
          <td><strong>model:</strong> <%= items.model %></td>
          <td><input type="text" name="model"></td>
        </tr>
        <tr>
          <td><strong>year:</strong> <%= items.year %></td>
          <td><input type="text" name="year"></td>
        </tr>
        <tr>
          <td><strong>miles:</strong> <%= items.miles %></td>
          <td><input type="text" name="miles"></td>
        </tr>
        <tr>
          <td><strong>price:</strong> <%= items.price %></td>
          <td><input type="text" name="price"></td>
        </tr>
        <tr>
          <td></td>
          <td><img src="<%= items.picture1 %>" width="100" alt="automobile picture"/></td>
        </td>

      </table>
    </div>
    <div class="col-md-4">
      <table>
        <tr>
          <td><strong>vin:</strong> <%= items.vin %></td>
          <td><input type="text" name="vin"></td>
        </tr>
        <tr>
          <td><strong>stock:</strong> <%= items.stock %></td>
          <td><input type="text" name="stock"></td>
        </tr>
        <tr>
          <td><strong>trim:</strong> <%= items.trim %></td>
          <td><input type="text" name="trim"></td>
        </tr>
        <tr>
          <td><strong>transmissions:</strong> <%= items.transmissions %></td>
          <td><input type="text" name="transmissions"></td>
        </tr>
        <tr>
          <td><strong>speeds:</strong> <%= items.speeds %></td>
          <td><input type="text" name="speeds"></td>
        </tr>
        <tr>
          <td><strong>engin:</strong> <%= items.engin %></td>
          <td><input type="text" name="engin"></td>
        </tr>
        <tr>
          <td><strong>fuel:</strong> <%= items.fuel %></td>
          <td><input type="text" name="fuel"></td>
        </tr>
        <tr>
          <td><strong>ext:</strong> <%= items.ext %></td>
          <td><input type="text" name="ext"></td>
        </tr>
        <tr>
          <td><strong>int:</strong> <%= items.int %></td>
          <td><input type="text" name="int"></td>
        </tr>
        <tr>
          <td><strong>show:</strong> <%= items.show %></td>
          <td><input type="text" name="show"></td>
        </tr>

      </table>
    </div>
    <div class="col-md-4">
      <table>
        <tr>
          <td><strong>description:</strong> <%= items.description %></td>
          <td><textarea name="description" rows="4" ></textarea></td>
        </tr>
        <tr>
          <td><strong>equipment:</strong> <%= items.equipment %></td>
          <td><textarea name="equipment" rows="4" ></textarea></td>
        </tr>
        <tr>
          <td><strong>features:</strong> <%= items.features %></td>
          <td><textarea name="features" rows="4" ></textarea></td>
        </tr>

      </table>
    </div>

  </form>
</div>
